/** theme is olive and purple **/

@media only screen and (min-width : 300px) and (max-width : 1000px){
    
    .image_text{
        left:3.7em;
        font-size: 5.5em;
        top: 2.7em;
    }
}

@media only screen and (min-width : 1000px){
    
    .image_text{
        top: 4.1em;
        left: 5em;
        font-weight: 900;
        font-size: 6em;
    }
}

h1, p, h4{
    font-family: "Segoe UI Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1{
    font-size: 3.5em;
    text-transform: uppercase;
    color: rgb(90, 2, 90);
}

h4{
    color: rgb(143, 143, 161);
    text-transform: uppercase;
}

.row {
    display: flex;
    
    position: relative;
    padding: 10em;
}
  


.weeks{
    -webkit-filter: blur(5px); 
    filter: blur(5px);
}

.image_text{
    position: absolute;
    color: white;
    text-decoration: none;
    text-shadow: -1px 0 rgb(90, 2, 90), 0 1px rgb(90, 2, 90), 1px 0 rgb(90, 2, 90), 0 -1px rgb(90, 2, 90);
}

.image_text:hover{
    color: olive;
}