/** theme is olive and purple **/

@media only screen and (min-width : 300px) and (max-width : 1000px){
    
    .image_text{
        left:3.7em;
        font-size: 5.5em;
        top: 2.7em;
    }
}

@media only screen and (min-width : 1000px){
    
    .image_text{
        top: 4.1em;
        left: 5em;
        font-weight: 900;
        font-size: 6em;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lavender;
    font-size: 2em;
}

li{
    display: inline;
    padding-right: 1.5em;
}

.noline{
    text-decoration: none;
    color: rgb(90, 2, 90);
}

h1, p, h4, h2, ul{
    font-family: "Segoe UI Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1{
    font-size: 3.5em;
    text-transform: uppercase;
    color: rgb(90, 2, 90);
}

h4, h2, ul{
    color: rgb(143, 143, 161);
    text-transform: uppercase;
}

h2{
    font-size: 2em;
}

.row {
    display: flex;
    position: relative;
    padding: 10em;
}

.weeks{
    -webkit-filter: blur(5px); 
    filter: blur(5px);
}

.image_text{
    position: absolute;
    color: white;
    text-decoration: none;
    text-shadow: -1px 0 rgb(90, 2, 90), 0 1px rgb(90, 2, 90), 1px 0 rgb(90, 2, 90), 0 -1px rgb(90, 2, 90);
}

.image_text:hover, h2{
    color: olive;
}

.link_label{
    margin-left: 2em;
    font-size: 1.5em;
}

.js_descriptions{
    color: olive;
    text-transform: lowercase;
    margin-left: 2.5em;
}

.js_headings{
    color: olive;
}

.gist {
    width:50em;
    margin-top: 50em;
    margin-left: 7em;
}
.gist-file

.gist-data {
    max-height: 20em; 
    max-width: 50em;
}
